<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title><%= htmlWebpackPlugin.options.title %></title>
	<!-- <% htmlWebpackPlugin.options.files.css.forEach(function (css) { %>
	<link rel="stylesheet" href="<%= css %>">
	<% }) %> -->
	
	
</head>

<body>
		<header>
				<%= htmlWebpackPlugin.options.files.header %>
			</header>
			
			<p class="main">main</p>
			<h2>hahhahahahahahhaah</h2>
			<img src="./assets/images/logo.png" >
			<div id="less-id">
				this is to test Less!!
			</div>
			<div>
				#include("./footer.html")
			</div>
</body>
</html>